.container
  .ctaBlock-container
    .ctaBlock-text
      h2 Розпочніть шлях до своєї нової професії вже сьогодні!
      p Залиште свої контактні дані, і наш фахівець зв’яжеться з вами, щоб допомогти вибрати курс, який ідеально відповідає вашим цілям і рівню підготовки.
      span Індивідуальна консультація безкоштовно!

    .ctaBlock-form
      +form
