.container
  .employment-container 
    h2 Чи може школа гарантувати працевлаштування?
    .employment-text
      p Команда SkillDeal гарантує вам повну підтримку та допомогу від моменту складання резюме до проходження співбесіди та працевлаштування. 
      p Ринок праці в IT-сфері постійно потребує спеціалістів, і у нас є своя база компаній та HR-менеджерів, яким ми можемо рекомендувати наших випускників, і які самі до нас звертаються в пошуках IT-спеціалістів.
