.container
  .main-container
    .main-info
      .main-info__text
        h1 Освой затребувану професію в ІТ з нуля та почни успішну кар'єру!
        p Ми навчаємо практичним навичкам програмування, допомагаємо з працевлаштуванням та супроводжуємо на кожному етапі вашого кар'єрного шляху
        .desktopBtn
          include ../parts/ctaButton.pug
      
      .main-info__img
        +picture("img/main.png")(width="500", alt="Логотип")
      .mobileBtn
        include ../parts/ctaButton.pug

    .main-features
      each feature in jsonData.features.features
        .main-feature
          h3 #{feature.title}
