.logo
  .logoImg
    +picture("img/logoNew3.png")(width="50", height="50", alt="Логотип")
  //img.logoImg(src="img/logoNew.svg", height='50', width="50" alt="logo")
  .logoText
    p.logoTextMain Skill
      span Deal
    p.logoTextSecond Invest in your future
