#modal.modal
  .modal-content
    .modal-content__info
      h3 Бесплатная консультация
      a(href="https://t.me/skilldeal_manager", target="_blank")
        include ../icons/telegramIcon.pug
        |Написать в Telegram

    .modal-content__form
      +formRu

    button.close-modal(data-modal-closeForm)
      include ../icons/closeIcon.pug

script.
  const modal = document.querySelector('#modal');
  const modalBtns = document.querySelectorAll('button[data-modal-target="#modalForm"]');
  const closeBtn = document.querySelector('button[data-modal-closeForm]');

  modalBtns.forEach(modalBtn => {
    modalBtn.addEventListener('click', () => {
      modal.classList.add('active');
      document.body.setAttribute('style', 'overflow: hidden')
    });
  })

  closeBtn.addEventListener('click', () => {
    modal.classList.remove('active');
    document.body.setAttribute('style', 'overflow: auto')
  });

  document.body.addEventListener('click', (e) => {
    if (e.target === modal) {
      modal.classList.remove('active');
      document.body.setAttribute('style', 'overflow: auto')
    }
  });

style. 
  .iti
  --iti-path-flags-1x: url('flags.webp')
  --iti-path-flags-2x: url('flags@2x.webp')
  --iti-path-globe-1x: url('globe.webp')
  --iti-path-globe-2x: url('globe@2x.webp')
