extends ../layouts/defaultRu.pug

block variables
  - var pageTitle = "SkillDeal";
  - var pageDesc = "Invest in your future";
  // - var ogType = "website|article";

block content
  include ../blocks-ru/main.pug
  include ../blocks-ru/courses.pug
  include ../blocks-ru/features.pug
  include ../blocks-ru/reviews.pug
  include ../blocks-ru/teachers.pug
  include ../blocks-ru/employment.pug
  include ../blocks-ru/ctaBlock.pug
  include ../blocks-ru/faq.pug
