extends ../layouts/defaultRu.pug

block variables
  - var pageTitle = "SkillDeal | онлайн школа программирования";
  - var pageDesc = "Онлайн курсы программирования для начинающих и продвинутых разработчиков. Обучение языкам программирования и технологиям: Python, JavaScript, TypeScript, VueJS, FastAPI и другим.";
  // - var ogType = "website|article";

block content
  include ../blocks-ru/main.pug
  include ../blocks-ru/courses.pug
  include ../blocks-ru/features.pug
  include ../blocks-ru/reviews.pug
  include ../blocks-ru/teachers.pug
  include ../blocks-ru/employment.pug
  include ../blocks-ru/ctaBlock.pug
  include ../blocks-ru/faq.pug
  include ../blocks-ru/sale.pug
