extends ../layouts/default.pug

block variables
  - var pageTitle = "SkillDeal | Онлайн школа програмування";
  - var pageDesc = "Онлайн курси програмування для початківців та розвинених розробників. Навчання мовами програмування та технологіям: Python, JavaScript, TypeScript, VueJS, FastAPI та іншим";
  // - var ogType = "website|article";

block content
  include ../blocks/main.pug
  include ../blocks/courses.pug
  include ../blocks/features.pug
  include ../blocks/reviews.pug
  include ../blocks/teachers.pug
  include ../blocks/employment.pug
  include ../blocks/ctaBlock.pug
  include ../blocks/faq.pug