extends ../layouts/default.pug

block variables
  - var pageTitle = "SkillDeal";
  - var pageDesc = "Invest in your future";
  // - var ogType = "website|article";

block content
  include ../blocks/main.pug
  include ../blocks/courses.pug
  include ../blocks/features.pug
  include ../blocks/reviews.pug
  include ../blocks/teachers.pug
  include ../blocks/employment.pug
  include ../blocks/ctaBlock.pug
  include ../blocks/faq.pug