.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: none;
  width: 100%;
  height: 100%;
  padding: 40px 0;

  background-color: rgba($black, 0.7);

  &.active {
    display: block;
    // align-items: center;
    // justify-content: center;
    overflow: scroll;
  }

  &-content {
    position: relative;

    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px 20px;

    background-color: $white;
    border-radius: 30px;

    &__info {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-evenly;

      >h3 {
        margin: 0;

        font-size: 2.5rem;
      }

      >a {
        display: flex;
        gap: 10px;
        align-items: center;

        color: #24A1DE;
        font-weight: 700;
        font-size: 1.2rem;
        font-family: $font-main;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__form {    
      flex: 1;
      height: 100%;

      border: rgba($accent, 0.4) solid 2px;
      border-radius: 30px;

      >form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        height: 100%;
        padding: 10px 20px;

        border-radius: 30px;

        >button[type=submit] {
          font-size: 1rem;
        }
      }

      &-item {
        display: flex;
        flex-direction: column;

        >label {
          font-family: $font-header;
        }

        >input, .iti__tel-input {
          width: 100%;
          padding: 10px 20px;

          border: rgba($black, 0.3) solid 1px;
          border-radius: 30px;

          &:active {
            border: $accent solid 1px;
          }
        }
      }
    }
  }
}

.iti__selected-country-primary:hover {
  background-color: transparent !important;
}


.iti__search-input {
  display: flex;
  align-items: center;
  padding: 8px var(--iti-spacer-horizontal);

  outline: none;
}

.iti--fullscreen-popup {
  z-index: 10000 !important;
}


.modalCourse {
  &-content {
    font-size: 1.2rem;
    font-family: $font-main;

    &__text {
      >h3 {
        margin: 0;
        margin-bottom: 15px;

        color: $black;
        font-size: 2rem;
      }
    }

    &__descr {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      padding: 10px 0;

      border-top: rgba($black, 0.4) solid 1px;
      border-bottom: rgba($black, 0.4) solid 1px;
    }

    &__btn {
      align-self: flex-start;
      margin: 10px 0;
      padding: 10px 15px;

      color: $black;
      font-family: "Roboto", serif;
      text-decoration: none;

      background-color: $white;
      border: $accent solid 2px;
      border-radius: 30px;
    }

    &__infos {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      >p {
        width: 40%;
        margin-bottom: 10px;
        padding-left: 5px;

        font-family: "Roboto", sans-serif;

        border-left: $accent 2px solid;

        >span {
          font-weight: 600;
          font-family: $font-header;
        }
      }
    }
  }
}

.price {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;

  font-size: 1.4rem;
  
  &-item {
    display: flex;
    gap: 10px;
  }

  >p {
    font-weight: 600;
  }

  &-old {
    color: rgba($black, 0.5);
    font-family: $font-header;
    text-decoration: line-through;
  }
  
  &-new {
    font-family: $font-header;
  }
}

.rate {
  &-buttons {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;

    >p {
      color: rgba($black, 0.3);
      font-size: 2rem;
    }
  }

  &-button {
    color: $black;
    font-size: 1.3rem;
    font-family: $font-main;

    background-color: $white;
    border: none;
    border-bottom: transparent solid 2px;

    &__active {
      font-weight: 600;

      border-bottom: $accent solid 2px;
    }
  }
}

.closeIcon {
  width: 28px;
  height: 28px;

  fill: rgba($black, 0.3);

    &:hover {
    color: $accent;
  }
}

.telegramIcon {
  fill: #24A1DE;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: transparent;
  border: none;
}

.hide {
  display: none;
}

#error-msg {
  color: red;
}

.truncated-textDescr {
  display: none;
  width: 100%;

}

.full-textDescr {
  display: block;
}

.show-moreDescr {
  display: none;

  color: $accent;
  font-size: 1.1rem;
  font-family: $font-main;
  line-height: 1.3rem;
  text-decoration: none;

  cursor: pointer;
}

.show-moreDescr:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .modal {
    padding: 20px 0;

    &-content {
      flex-direction: column;
      gap: 15px;
      align-items: center;
      max-width: 90%;

      &__info {
        align-items: center;

        >h3 {
          line-height: 2.8rem;
          text-align: center;
        }
      }

      &__descr {
        font-size: 1rem;
      }
    }

    &Course {
      &-content {
        &__text {
          >h3 {
            font-size: 1.5rem;
            line-height: 1.8rem;
          }
        }

        &__infos {
          gap: 5px;

          font-size: 1rem;

          >p {
            width: 100%;
            margin-bottom: 5px;
          }
        }

        &__btn {
          padding: 5px 10px;

          font-size: 1rem;
        }
      }
    }

    &.active {
      display: block;
    }
  }

  .price {
    flex-direction: column;
    padding: 10px 0;

    &-item {
      font-size: 1.1rem;
    }
  }

  .truncated-textDescr {
    display: block;

    font-size: 1rem;
  }
  .full-textDescr {
    display: none;

    font-size: 1rem;
  }
  .show-moreDescr {
    display: block;

    font-size: 0.8rem;
  }

  .rate {
    &-buttons {
      display: flex;
      gap: 15px;
      padding-bottom: 15px;

      >p {
        color: rgba($black, 0.3);
        font-size: 2rem;
      }
    }

    &-button {
      font-weight: normal;
      font-size: 1rem;

      &__active {
        font-weight: 600;

        border-bottom: $accent solid 2px;
      }
    }
  }
}