.container#formCourse
  .ctaBlock-container
    .ctaBlock-text
      h2 Начните путь к своей новой профессии уже сегодня!
      p Оставьте свои контакты, и наш специалист свяжется с вами, чтобы помочь подобрать курс, который идеально соответствует вашим целям и уровню подготовки.
      span Индивидуальная консультация бесплатно!

    .ctaBlock-form
      +formRu