.container
  .employment-container 
    h2 Может ли школа гарантировать трудоустройство?
    .employment-text
      p Команда SkillDeal гарантирует вам полное содействие и помощь от момента составления резюме, до прохождения собеседования и трудоустройства. 
      p Рынок труда в IT сфере постоянно нуждается в специалистах и у нас есть своя база компаний и HR менеджеров, которым мы можем рекомендовать наших выпускников, и которые сами к нам обращаются в поиске IT специалистов.
