.container.features-container#features
  h2 Преимущества SkillDeal 
  .features-items
    each feature in jsonData.featuresRu.featuresBlock
      .features-item 
        .features-item_icon
          span #{feature.emoji}
        .features-item_text 
          h4 #{feature.title}
          p 
            span.truncated-text
              span.truncated-text 
                | #{feature.description.split(" ").splice(0, 22).join(" ")}
                if feature.description.length > 115
                  |...
            span.full-text #{feature.description}
          if feature.description.length > 115
            a.show-more Показать полностью

script.
  document.addEventListener("DOMContentLoaded", function() {
    const showMoreLinks = document.querySelectorAll(".show-more");
    showMoreLinks.forEach((link) => {
      link.addEventListener("click", function() {
        const parent = link.parentNode;
        const truncatedText = parent.querySelector(".truncated-text");
        const fullText = parent.querySelector(".full-text");

        if (link.textContent === "Скрыть") {
          truncatedText.style.display = "inline-block";
          fullText.style.display = "none";
          link.textContent = "Показать полностью";
        } else {
          truncatedText.style.display = "none";
          fullText.style.display = "inline-block";
          link.textContent = "Скрыть";
        }
      });
    });
  })
