.container
  .main-container
    .main-info
      .main-info__text
        h1 Освой востребованную профессию в ІТ с нуля и начни успешную карьеру!
        p Мы обучаем практическим навыкам программирования, помогаем с трудоустройством и сопровождаем на каждом этапе вашего карьерного пути
        .desktopBtn
          include ../partsRu/ctaButton.pug
      
      .main-info__img
        +picture("img/main.png")(width="500", alt="Логотип")
      .mobileBtn
        include ../partsRu/ctaButton.pug

    .main-features
      each feature in jsonData.featuresRu.features
        .main-feature
          h3 #{feature.title}
